<html>
  <head>
    <title>about</title>
        <link rel="icon" href="/img/weathericon.png">

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="main-content">
 {{>header}}
    <img class="portrait" src="/img/shine.jpg" alt="" />
    </div>
   
    {{>footer}}
  </body>
</html>